[Unit]
Description=Prowlarr Daemon
After=syslog.target network.target sonarr.service radarr.service

[Service]
User=prowlarr
Group=prowlarr
Type=simple
ExecStart=/opt/Prowlarr/Prowlarr -nobrowser -data=/var/lib/prowlarr/
TimeoutStopSec=30
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target