[Unit]
Description=Jellyfin
After=network.target

[Service]
Type=simple
User=jellyfin
Group=media
Restart=on-failure
ExecStart=/opt/jellyfin/jellyfin.sh

[Install]
WantedBy=multi-user.target